<h2>Strategy Simulation</h2>
<h4>Count Strategy: Hi Lo</h4>
<h4>Bet Strategy: Unlimited Proportional Bet Spread</h4>
<h4>Current Basic Strategy: BJ 3:2 6 deck shoe, S17, DaS allowed, LS allowed, RSA allowed, Penetration 75%</h4>
<h4>Negative Bankrolls Allowed Risk Of Ruin = N/A</h4>
<br>
<form class="form-horizontal form-square">
  <div class="form-group">
    <label class="col-lg-2 control-label">Starting Bankroll</label>
    <div class="col-lg-10">
      {{input class="form-control" placeholder="Simulated player's starting bankroll" value=startingBankroll}}
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label">Base Bet</label>
    <div class="col-lg-10">
      {{input class="form-control" placeholder="Bet when true count = 1 raised proportionally" value=baseBet}}
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label">Table Min</label>
    <div class="col-lg-10">
      {{input class="form-control" placeholder="Table minimum bet" value=tableMin}}
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label">Number of Decks</label>
    <div class="col-lg-10">
      {{input class="form-control" placeholder="Number of decks in shoe" value=deckCount}}
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label">Hands Simulated</label>
    <div class="col-lg-10">
      {{input class="form-control" placeholder="Number of hands to simulate" value=handsSimulated}}
    </div>
  </div>
</form>

<br>
<h3>Low Bankroll: {{lowBankroll}}</h3>
<h3>High Bankroll: {{highBankroll}}</h3>
<h3>Ending Bankroll: {{endingBankroll}}</h3>

<button class="btn btn-primary" {{action 'simulate'}}>Run Simulation</button>
<div style="display:none" class="meter">
  <span {{bind-attr style="percentComplete"}}></span>
</div>

<div id="chart-line-bankroll"></div>
<div id="chart-line-normalized"></div>